<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Arthur Hammer</string>
	<key>Builder Version</key>
	<string>10600.4.10.7</string>
	<key>CFBundleDisplayName</key>
	<string>Add to Pinboard</string>
	<key>CFBundleIdentifier</key>
	<string>co.ahammer.addtopinboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>pinboardButton</string>
				<key>Image</key>
				<string>pin.png</string>
				<key>Label</key>
				<string>Add to Pinboard</string>
				<key>Palette Label</key>
				<string>Add to Pinboard</string>
				<key>Tool Tip</key>
				<string>Add to Pinboard</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>pin.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Creates a new bookmark in Pinboard by taking you to Pinboard's bookmarking page.</string>
	<key>DeveloperIdentifier</key>
	<string>PY49CKQ6VF</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/ahammer-/pinboard.safariextension</string>
</dict>
</plist>
